.main-content{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}


.form{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding:2%;
}
.input-field-group{
    width: 100%; 
    margin-bottom: 2%;
}


.input-field{
    width: 100%;
    border: 0.1rem solid #4BAAFC;
    border-radius: 5px;
    padding:1vh;
    line-height: 4vh;
    font-size: 100%;
    font-weight: 500; 
}
.form .name{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form .name .input-field-group{
    width: 47%;
}

.form .name .input-field-group .input-field{
    width: 100%;
}

div.button{
   display: flex;
   justify-content: center;
}


.errMsgs{
    color:red;
    text-align: center;
}
