.button {
    padding:10px;
    background-color: #4BAAFC;
    border-radius: 5px;
    border: 1px solid #4BAAFC;
    color:white;
    font-weight: 500;
    width: 100%;
    font-size: 100%;
    margin:5%;
}