.main-content{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

div.description{
    margin-bottom: 10vh;
}

.description> *{
    margin-bottom: 3vh;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pricing-grid{
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
